Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/config/applicationhost.config
.vs/config/applicationhost.config
PostAround-Site/Web.config
PostAround-Site/Web.config
PostAround-Site/Test/online/data.csv
PostAround-Site/Test/online/jquery.tipsy.js
PostAround-Site/Test/online/index.html
PostAround-Site/Test/online/stylesheet.css