<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PostAround.DAL.Properties.Settings.Default.PostAroundConnectionString"
        connectionString="Data Source=AHARONY3;Initial Catalog=PostAround;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>