<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
 
      <!--Dev-->
      <!--<add name="PostAround.DAL.Properties.Settings.PostAroundConnectionString" connectionString="Data Source=YANIV-LAPTOP\SQLEXPRESS;Initial Catalog=PostAround;Integrated Security=True" providerName="System.Data.SqlClient" />-->

      <!--Production-->
      <!--<add name="PostAround.DAL.Properties.Settings.PostAroundConnectionString" connectionString="Data Source=postaround.db.8721438.hostedresource.com; Initial Catalog=postaround; User ID=postaround; Password='Barvaz!83';" providerName="System.Data.SqlClient" />-->
      
    </connectionStrings>
</configuration>