<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PostAround.DAL.Properties.Settings.PostAroundConnectionString"
            connectionString="Data Source=YANIV-LAPTOP\SQLEXPRESS;Initial Catalog=PostAround;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>