<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="SiteUrl" value="http://localhost/PostAround/" />
    <add key="SiteUrlSecured" value="http://localhost/PostAround/" />
		<add key="HomePage" value="http://localhost/PostAround/" />
    <add key="PhysicalPath" value="C:\Users\aharony\Private\PostAroundMe\PostAround-Site" />
		<add key="facebookAppKey" value="355242331161855" />
    <add key="GoogleKey" value="ABQIAAAA_qDbj9O8jWHuxLQTGoKHuxQ5Q9JvUhEAUrCDpo8PYiILdM7PfBQP5DmD0Z2sDadF4jgi8LvB_UFNdQ" />
    <add key="GoogleKeyV3" value="AIzaSyBS2M8gsWar3rDvXFPrVKuiiqC0o40DmKc" />
    <add key="SendMails" value="True" />
    <add key="SendFacebookNotifications" value="True" />
    <add key="EncryptKey" value="Nomi2504" />
    <add key="AdminToken" value="AIzaSyBS2M8gsWar3rDvXFPrVKuiiqC0o40DmKc" />
    <add key="facebookAppSecret" value="3569f89cf3e0e4fdedb2ca6972d023dd" />
    <add key="facebookAppAccessToken" value="355242331161855|qyYMEnPyR2y3sWK8H7rN-6n3lBU" />
    
    <add key="VirusTotalKey" value="307c4a59f8909b55f14dee8ba7dd21acbdf17156731260d147e5f7b3df0ef792" />
    <add key="Root" value="/PostAround/" />
    


  </appSettings>
	<connectionStrings />
	<system.web>

    <machineKey validationKey="F1EB2502E0752D7F69F1D656EF86CAE0D8D5EC05866C0820F3B39A1DDBC02F21529C691B4AF96C887D1C8361928B09071B827E3F3429EEA08602DBE6EC0F4E9A" decryptionKey="75717FCC01748BE7A1052B268C88F750EF1C12AC3336335C8D7F55DDD86F3BA6" validation="SHA1" />
    
		<globalization uiCulture="en-US" culture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    
    <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/GenericError.aspx">
      <error statusCode="404" redirect="~/Pages/404.aspx" />
      <error statusCode="500" redirect="~/Pages/500.aspx" />
      <error statusCode="503" redirect="~/Pages/503.aspx" />
    </customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
  
  

  
    
	<!-- 
  
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_IPostAroundService" />
    <binding name="WSHttpBinding_IPostAroundService1" />
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost/PostAroundService/Service.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPostAroundService"
    contract="PostAroundService.IPostAroundService" name="WSHttpBinding_IPostAroundService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
 
  </client>
	</system.serviceModel>
    <system.webServer>
      
      
        
        <rewrite>
            <rules>
                <rule name="Rewrite to post.aspx">
                    <match url="^post/([0-9]+)" />
                    <action type="Rewrite" url="Post.aspx?id={R:1}" appendQueryString="false" />
                </rule>


              <rule name="Rewrite Address" stopProcessing="true">
                <match url="^in/([^/]+)/?$" />
                <action type="Rewrite" url="Default.aspx?address={R:1}" appendQueryString="false" />
              </rule>
              <rule name="Rewrite Location" stopProcessing="true">
                <match url="^ll/(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)$" />
                <action type="Rewrite" url="Default.aspx?latlon={R:1},{R:3}" appendQueryString="false" />
              </rule>
              

               <rule name="Rewrite Unsubscribe">
                    <match url="^Unsubscribe/([^/]+)/?$" />
                    <action type="Rewrite" url="Pages/SetUserPermission.aspx?code={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom" />
    </system.webServer>
  
    
      

    
    
    <system.net>
        <mailSettings>
            <smtp from="PostAround.Me info@postaround.me">
                <network host="mail.postaround.me" password="nomi2504" port="25" userName="info@postaround.me" />
            </smtp>
        </mailSettings>
    </system.net>

  <!--<system.webServer>
    <staticContent>
      <clientCache cacheControlMaxAge="1.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
  </system.webServer>-->



</configuration>
