.qq-uploader { position:relative; width: 100%;}

.qq-upload-button 
{
	float:left;
    display:block; /* or inline-block */
    width: 92px; padding: 6px; padding-top:5px; text-align:center;    
    background:url('../images/addmessageIcons.png') no-repeat 0px 0px;
    color:#3c3c3c; height:19px; font-size:16px;
    margin-right:1px;
}
.qq-upload-button-hover {  /*background-position:0px -30px;*/ }
.qq-upload-button-focus { outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:315px; height:110px; z-index:2;
    background:#fff; border:5px #c0c0c0 dashed; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-15px; font-size:26px; color:#c0c0c0;
}

.qq-upload-drop-area span:hover {
    color:#666;
}

.qq-upload-drop-area-active {border-color:#666;}

.qq-upload-list {float:left; margin-left: 20px; padding:0; list-style:disc; height:17px; overflow:hidden}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px; float:left; width:190px; color:#3c3c3c; font-size:14px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file { }
.qq-upload-spinner {display:inline-block; background: url("images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px; }
.qq-upload-cancel  { float:right; }
.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

